@import 'libs/vars.scss';
@import 'libs/functions.scss';
@import 'libs/mixins.scss';
@import 'libs/vendor.scss';
@import 'libs/breakpoints.scss';
@import 'libs/_html-grid.scss';


/* Banner */

	body.is-preload {
		#banner {
			h2 {
				@include vendor('transform', 'none');
				opacity: 1;

				&:before, &:after {
					width: 100%;
				}
			}

			.more {
				@include vendor('transform', 'none');
				opacity: 1;
			}

			&:after {
				opacity: 0;
			}
		}
	}